* {
	font-family: sans-serif;
	box-sizing: border-box;
}
@media (prefers-color-scheme: dark) {
	.calculator {
	  background: #121212;
	}
  }
  @media (prefers-color-scheme: light) {
	.calculator {
	  background: #ffffff;
	}
  }
button, a, input {
	cursor: pointer;
	outline: none;	
}
html {
	font-size: 16px;
}
body {
	margin: 0px;
	min-height: 100vh;
	background-image: url("bgImg.jpg");
    	backdrop-filter: brightness(0.5);
    	height: 100vh;
	background-attachment: fixed;
	display: flex;
	justify-content: center;
	align-items: center;
}
.calculator {
	box-shadow: 0px 0px 75px rgba(0, 0, 0, 0.4);
	grid-template-rows: 20% 80%;
	border-radius: 0.5rem;
}
.display{
	height: 18vh;
}
.screen {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 1.5rem;
	height: 14vh;
}
.expression {
	font-weight: bolder;
	flex: 1.25;
	margin: 0;
	font-size: 4vh;
}
.result {
	flex: 1;
	font-weight: bolder;
	margin: 0;
	font-size: 9vh;
}
.buttons {
	padding: 1.5rem;
	margin: 0px;
	display: grid;
	grid-gap: calc(0.7vmax - 0.7vmin);
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
}
.buttons button {
	border: 0px;
	height: 10vh;
	width: 10vh;
	border-radius: 50%;
	font-size: 3vh;
	font-weight: bold;
	transition: 0.1s all ease;	
}
.buttons button:active {
	filter: brightness(0.8);
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
}
.explosion {
	position: absolute;
	height: 100vh;
	width: 100vw;
	display: none;	
}


@media only screen and (max-width: 539px) {
	.calculator {
		height: 100vh;
		width: 100vw;
		border-radius: 0px;
	}
	.buttons{
		height: 124vmin;
    		width: 100vmin;
	}
	.buttons button{
		height: unset;
		width: unset;
	}
	.display{
		margin-top: calc(82vh - 124vw);
	}
	.result{
		font-size: 17vw;	
	}
}
